<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .nav{
            height: 70px;
            width: 100%;
            background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: space-around;
    
        }
    
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="nav">
       
        <a href='{% url "home" %}'>HOME</a>
        <a href='{% url "about" %}'>ABOUT</a>
        <a href='{% url "contact" %}'>CONTACT</a>
        <a href='{% url "register" %}'>REGISTER</a>
        <a href='{% url "login" %}'>LOGIN</a>
        </div>

        <h1>THIS IS ABOUT PAGE</h1>

</body>
</html>